/.vs
/bin
/obj
/Tests/obj
/Tests/bin
/TestResults
/Tests/data/.vs
/Tests/data/cs/bin
/Tests/data/cs/obj
/Tests/data/cpp/*.user
/Tests/IntegrationTests/bin
/Tests/IntegrationTests/obj
/*.user
/Tests/UnitTests/bin
/Tests/UnitTests/obj
/Tests/UnitTests/*.user
/VS2019/bin
/VS2019/obj
/VS2022/bin
/VS2022/obj
/VS2019/Tests/IntegrationTests/bin
/VS2019/Tests/IntegrationTests/obj
/VS2019/Tests/UnitTests/bin
/VS2019/Tests/UnitTests/obj
/Tests/IntegrationTests/*.user
/VS2019/*.user
/VS2022/Tests/IntegrationTests/bin
/VS2022/Tests/IntegrationTests/obj
/VS2022/Tests/UnitTests/bin
/VS2022/Tests/UnitTests/obj
/packages
